{
    auto_https off
}

:80 {
    @api host api.sovlens.stellodev.com
    handle @api {
        reverse_proxy backend:4000
    }

    @app host sovlens.stellodev.com
    handle @app {
        reverse_proxy frontend:3000
    }
}