sovlens-api.stellodev.com {
    reverse_proxy sovlens_backend:4000
}

sovlens.stellodev.com {
    reverse_proxy sovlens_frontend:3000
}

sovlens-garage.stellodev.com {
    reverse_proxy garage:3900
}

sovlens-grafana.stellodev.com {
    reverse_proxy grafana:3000
}